.container{
    width:800px;
    height:300px;
    display:grid;
    gap:10px;

    grid-template-columns:90px 90px 90px 90px 90px 90px 90px 90px;
    grid-template-rows:95px 95px 95px;
}

.box1{
    background:green;
    grid-column:1;
    grid-row:1/4;
}

.box2{
    background:green;
    grid-column:2/6;
    grid-row:1;
}

.box3{
    background:red;
    grid-column:6/8;
    grid-row:1;
}

.box4{
    background:orange;
    grid-column:2/4;
    grid-row:2;
}

.box5{
    background:red;
    grid-column:4/6;
    grid-row:2;
}

.box6{
    background:red;
    grid-column:2/4;
    grid-row:3;
}

.box7{
    background:orange;
    grid-column:4/6;
    grid-row:3;
}

.box8{
    background:green;
    grid-column:6/8;
    grid-row:2/4;
}