.container{
    width:600px;
    height:300px;

    display:grid;
    gap:10px;

    grid-template-columns:300px 145px 145px;
    grid-template-rows:145px 145px;
}

.box1{
    background:#e91e63;
    color:white;

    grid-column:1;
    grid-row:1/3;
}

.box2{
    background:orange;
    color:white;

    grid-column:2/4;
    grid-row:1;
}

.box3{
    background:#ab47bc;
    color:white;

    grid-column:2;
    grid-row:2;
}

.box4{
    background:#607d8b;
    color:white;

    grid-column:3;
    grid-row:2;
}