body{
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
    background-color: black;
}

.clock{
    width:300px;
    height:300px;
    border: 35px solid rgb(255, 255, 255);
    border-radius:50%;
    position:relative;
}

.top{
    width:30px;
    height:30px;
    border:20px solid rgb(255, 255, 255);
    border-radius:50%;
    position:absolute;
    top:-90px;
    left:115px;
}

.center{
    width:22px;
    height:22px;
    background-color:rgb(255, 255, 255);
    border-radius:50%;
    position:absolute;
    top:139px;
    left:139px;
}

.hand{
    width:10px;
    height:95px;
    background-color:rgb(255, 255, 255);
    border-radius:10px;
    position:absolute;
    top:55px;
    left:146px;
    transform-origin:bottom center;
    animation:rotate 4s linear infinite;
}

@keyframes rotate{

    from{
        transform:rotate(0deg);
    }

    to{
        transform:rotate(360deg);
    }

}


.hover_me{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 50px;
    position: relative;
    top: 350px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}





























































































































































































































































































img{
    opacity: 7%;
    width: 300px;
}