/* 14)შექმენი card, რომელსაც hover-ზე:
translateY(-20px)-ით ზემოთ აიწევს
ჩრდილი დაემატება 
all 2s */


div{
    width: 100px;
    height: 100px;
    transition: all 2s;
    background-color: red;
}




div:hover{
    transform: translateY(-20px);
    box-shadow: 10px 10px 10px black;
}