.circle{
    width: 100px;
    height: 100px;

    background-color: purple;

    border-radius: 50%;

    transition: 0.5s;
}

.circle:hover{
    transform: scale(1.1) translate(20px,20px) rotate(15deg);
}